trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  imageName: 'pipelines-javascript-docker'

steps:
- task: Docker@2
  displayName: Build an image
  inputs:
    repository: $(imageName)
    command: build
    Dockerfile: app/Dockerfile
# - task: Docker@2
#   inputs:
#     containerRegistry: 'image-javascript-docker'
#     command: 'login'
- task: Docker@2
  displayName: Push an image
  inputs:
    containerRegistry: 'image-javascript-docker'
    repository: $(imageName)
    command: 'loginAndPush'
# - task: Docker@2
#   inputs:
#     containerRegistry: 'image-javascript-docker'
#     repository: 'pipelines-javascript-docker'
#     command: 'buildAndPush'
#     Dockerfile: '**/Dockerfile'